.env
.vscode
desktop.ini

**.old

/output

/UnrealExporter/bin
/UnrealExporter/obj
/UnrealExporter/configs/*.json
!/UnrealExporter/configs/_*.json
/UnrealExporter/mappings/*.usmap
**.ckpt

oodle-data-shared.dll
oo2core_9_win64.dll